<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IlMapper">

    <resultMap type="Il" id="IlResult">
        <result property="ilId"    column="il_id"    />
        <result property="name"    column="name"    />
        <result property="ulkeId"    column="ulke_id"    />
    </resultMap>

    <sql id="selectIlVo">
        select il_id, name, ulke_id from il
    </sql>

    <select id="selectIlList" parameterType="Il" resultMap="IlResult">
        <include refid="selectIlVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="ulkeId != null "> and ulke_id = #{ulkeId}</if>
        </where>
    </select>

    <select id="selectIlByIlId" parameterType="Long" resultMap="IlResult">
        <include refid="selectIlVo"/>
        where il_id = #{ilId}
    </select>

    <insert id="insertIl" parameterType="Il" useGeneratedKeys="true" keyProperty="ilId">
        insert into il
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="ulkeId != null">ulke_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="ulkeId != null">#{ulkeId},</if>
        </trim>
    </insert>exit


    <update id="updateIl" parameterType="Il">
        update il
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="ulkeId != null">ulke_id = #{ulkeId},</if>
        </trim>
        where il_id = #{ilId}
    </update>

    <delete id="deleteIlByIlId" parameterType="Long">
        delete from il where il_id = #{ilId}
    </delete>

    <delete id="deleteIlByIlIds" parameterType="String">
        delete from il where il_id in
        <foreach item="ilId" collection="array" open="(" separator="," close=")">
            #{ilId}
        </foreach>
    </delete>
</mapper>